body {
  margin: 0;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

#app {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(650px, 800px);
    height: auto;
    background: #ffffff;
    color: #444444;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
	 padding-bottom: 20px;
}

#location{
	margin-bottom: 20px;
}

#error{
	color: #dc3545;
	margin-bottom: 20px;
}

.holder{
    display:  flex;
    flex-direction:  column;
    align-items: center;
}

.entry{
	 display: flex;
	 justify-content: center;
    background: #e9ecef;
    margin-top: 10px;
	 margin-bottom: 10px;
	 padding: 10px 15px;
	 border-radius: 3px;
	 width: 100%;
}

.headline {
    font-size: 40px;
	 color: white;
	 background-color: #f23557;
	 margin-bottom: 20px;
	 padding: 10px 0;
}

.userInput{
    display:  flex;
    flex-direction:  column;
    align-items: flex-start;
}

.cityImage {
	width: 300px;
	height: 200px;
	object-fit: contain;
	margin-right: 10px;
}

.weatherInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
	font-size: 18px;
}

.addBtn{
    width: 100%;
    height: 80px;
    font-size: 20px;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 10px;
}

.deleteBtn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	box-shadow: 2px 4px 5px #444;
}

.footer {
	flex-shrink: 0;
	text-align: center;
	font-size: 12px;
   width: 100%;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display: block;
    font-size: 20px;
}

input{
    display: block;
    height: 60px;
    width: 320px;
    font-size: 20px;
    border: none;
	 padding:0 10px;
}

h1{
    font-size: 36px;
}

img{
	border-radius: 3px;
}

@media (max-width: 480px){
	#app {
		grid-auto-columns: 80%;
	}
	.entry{
	 	display: flex;
		flex-direction: column;
		justify-content: center;
	 	align-items: center;
	}
	.cityImage {
		object-fit: contain;
		margin: 0;
	}
	.weatherInfo {
		margin-left: 0;
	}
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */  
    font-family: sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: sans-serif;

} 